* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 30px;
    margin: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    text-shadow: 1px 1px 2px #444;
}

button {
    display: inline-block;
    padding: 12px 60px;
    max-width: 100%;
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    outline: 0 !important;
    text-decoration: none;
    touch-action: manipulation;
    user-select: none;
    border: none;
    transition: .1s;
    text-decoration: none;
    color: #fff;
    background: #14213d;
    box-shadow: 6px 6px 0 #fff;
    &:hover,
    &:active {
        background: #023e8a;
        color: #d62828;
        box-shadow: 6px 6px 0 #d62828;
    }
}

.score {
    font-size: 50px;
    font-weight: bold;
    color: #d62828;
    padding-top: 20px;
}

.result {
    font-size: 23px;
    font-weight: bold;
}

.choice {
    font-size: 23px;
    font-weight: bold;
    margin-top: 0;
}

.boost {
    font-size: 30px;
    color: #d62828;
    font-weight: bold;
    padding-bottom: 25px;
}

.output {
    font-size: 22px;
    padding-top: 25px;
}

//  13.2 - modal
.container {
    max-width: 400px;
    margin: 0 auto;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    &.show {
        display: block;
        height: 100vh;
        overflow: auto;
    }
}

.modal {
    display: none;
    background: #fff;
    font-size: 21px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    color: black;
    text-shadow: none;
    &.show {
        display: block;
        height: auto;
        margin: 5vh 0;
    }
    .close {
        position: absolute;
        right: 0;
        top: 0;
        padding: 0px 15px 5px 5px;
        color: #000;
        text-decoration: none;
        font-size: 35px;
        &:hover {
            color: #d62828;
        }
    }
    header {
        font-size: 22px;
        line-height: 30px;
        min-height: 30px;
        padding: 0 30px;
    }
    .content {
        font-size: 24px;
        min-height: 30px;
        padding: 5px 30px;
    }
}

a {
    color: #d62828;
    font-size: 30px;
}

//tabelka w modalu
td {
    padding: 5px;
    width: 20%;
    text-align: left;
}

.main {
    color: blue;
    font-size: 25px;
}

@media (orientation: portrait) and (max-width: 767px) {
    .content {
        font-size: 22px;
    }
    .main {
        font-size: 15px;
    }
    td {
        padding: 4px;
        font-size: 16px;
    }
}